

Set Parameter NSvtEvents =   200
Set Parameter NTrgEvents =  1024
Set Parameter RssiFrames =    16


# ---------------------------------------------
# HPS Event Builder (client side) configuration
# ---------------------------------------------
Define Contributor  Svt0     SVT            \
                    Transport  = RSSI       \
                    Ip         = 127.0.0.1  \
                    Port       = 8192       \
                    RssiFrames = RssiFrames \
                    Events     = NSvtEvents \
                    Timeout    = 2


Define Contributor  Svt1   SVT              \
                    Transport  = RSSI       \
                    Ip         = 127.0.0.1  \
                    Port       = 8193       \
                    RssiFrames = RssiFrames \
                    Events     = NSvtEvents \
                    timeout    = 2


#Define Contributor  Trg0 TRIGGER                           \
#                    Transport      = PIPE                  \
#                    Name           = /tmp/triggerPipe  \
#                    Events         = NTrgEvents            \
#                    Timeout        = 2
#                    Batches        = default  \
#                    EventsPerBatch = default  \

# -----------------------------------------------------------



Define Collection    TwoSvts Svt0, Svt1


#Include HfgInclude.cfg

# -----------------------------------------------------------
# SVT : Modify some of the parameters
#
# <name>.Transport
# <name>.Ip
# <name>.Port
# <name>.RssiFrames
# <name>.Events
# <mame>.Timeout
# -----------------
Set Svt0.RssiFrames = RssiFrames
Set Svt1.RssiFrames = RssiFrames
Set Svt1.Events     = 314
Set Svt0.Timeout    = 4
# -----------------------------------------------------------




# -----------------------------------------------------------
# TRIGGER : Set the more dynamic parameters
# ----------------------------------------------------------------------------
#             What     Type  Name  Buffering  # Batches  #Events/Batch   Enable
#      -----------  -------  ----  ---------  ---------  -------------   ------
#
#   Contributor  TRIGGER     2       default         10        dynamic  disable
# ----------------------------------------------------------------------------
#Set Trigger0.Nevents       = 80
#Set Trigger0.NBatches      = 10
#Set Trigger0.EventPerBatch = 16


Define  Configuration MyCfg \
                      Contributors = TwoSvts \
                      LoggingLevel = Error   \
                      NFragments   = 100

Define Configuration Cfg2 \
                     Contributors = Svt0,Svt1 \
                     LoggingLevel = Critical  \
                     NFragments   = 200

Use Configuration MyCfg
#Use Configuration Cfg2
